*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/target/
project/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.bsp/

# Metals specific
.metals/
.bloop/
metals.sbt

# VS Code
.vscode/

# IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/
